<footer>
  <div class="footer-content">
    <div class="footer-list-social">
      <ul>
        {% if site.email %}
        <li>
          <a href="mailto:{{ site.email }}">
            <i class="fa fa-lg fa-envelope-o"></i>
            <span class="footer-text">Email</span>
          </a>
        </li>
        {% endif %}

        {% if site.twitter %}
        <li>
          <a href="https://twitter.com/{{ site.twitter }}">
            <i class="fa fa-lg fa-twitter"></i>
            <span class="footer-text">Twitter</span>
          </a>
        </li>
        {% endif %}


        {% if site.google_scholar %}
        <li>
          <a href="http://scholar.google.com/citations?user={{ site.google_scholar }}">
            <i class="fa fa-graduation-cap"></i>
            <span class="footer-text">Google Scholar</span>
          </a>
        </li>
        {% endif %}

        {% if site.github %}
        <li>
          <a href="https://github.com/{{ site.github }}">
            <i class="fa fa-lg fa-github"></i>
            <span class="footer-text">GitHub</span>
          </a>
        </li>
        {% endif %}

        {% if site.linkedin %}
        <li>
          <a href="https://www.linkedin.com/profile/view?id={{ site.linkedin }}">
            <i class="fa fa-linkedin-square"></i>
            <span class="footer-text">LinkedIn</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>

  <div class="footer-content">
    <div class="footer-disclaimer">
      <p>
        Copyright &copy; 2017 Marc Streit. All rights reserved.
      </p>
    </div>

  </div>

</footer>