<div class="navigation">
  <a href="{{ site.baseurl }}/">
    <div class="logo">
      <!--embed class="logo-header-svg" src="{{ site.baseurl }}/assets/images/logos/caleydo.svg" type="image/svg+xml"-->
      {{ site.title }}
    </div>
  </a>

  <div class="navigation-buttons">
    <ul>
      <li class="home-button">
        <a href="{{ site.baseurl }}/"><span class="nav-icon"><i class="fa fa-user"></i></span><span class="nav-text">About</span></a>
      </li>
      <li class="publication-button">
        <a href="{{ site.baseurl }}/publications/"><span class="nav-icon"><i class="fa fa-book"></i></span><span class="nav-text">Publications</span></a>
      </li>
      <li class="project-button">
        <a href="{{ site.baseurl }}/projects/"><span class="nav-icon"><i class="fa fa-cog"></i></span><span class="nav-text">Projects</span></a>
      </li>
      <li class="talk-button">
        <a href="{{ site.baseurl }}/talks/"><span class="nav-icon"><i class="fa fa-comment"></i></span><span class="nav-text">Talks</span></a>
      </li>
      <li class="teaching-button">
        <a href="{{ site.baseurl }}/teaching/"><span class="nav-icon"><i class="fa fa-group"></i></span><span class="nav-text">Teaching</span></a>
      </li>
      <li class="service-button">
        <a href="{{ site.baseurl }}/services/"><span class="nav-icon"><i class="fa fa-graduation-cap"></i></span><span class="nav-text">Services & Awards</span></a>
      </li>
    </ul>
  </div>

  <div class="logo-subtitle">Assistant Professor @ JKU Linz, Austria</div>

</div>
