---
layout: default
---
<div class="project">

  <header class="projects-title">
    <h1>{{ page.title | remove: "MARC STREIT | " }}</h1>
  </header>

  <article class="project-content">

    <!--
    <h1>Research Projects</h1>

    <div>

      {% for project in site.data.projects %}

      <div class="card">
        <div class="card-image">
          <a href="{{ project.url }}">
            <img src="../assets/images/projects/{{ project.teaser }}" alt="">
          </a>
        </div>
        <div class="card-header-project">
          <a href="{{ project.url }}">{{project.name}}</a>
        </div>
        <div class="card-copy">
          <p><b>{{ project.title }}</b></p>
          <p>{{ project.standfirst }}</p>
        </div>
      </div>

      {% endfor %}

    </div>

    <h1>Funded Projects</h1>
    -->
    <table class="functions-table">
      <tr>
        <th></th>
        <th></th>
      </tr>
      {% for grant in site.data.funding %}
      <tr>
        <td class="functions-date">{{ grant.time }}</td>
        <td><i>{{ grant.title }},</i><br>Funded by {{ grant.agency }},

          {% if grant.program %}
            {{ grant.program }},
          {% endif %}

          {% if grant.number %}
          Grant no. {{ grant.number }},
          {% endif %}

          {{ grant.amount }}.</td>
      </tr>
      {% endfor %}
    </table>

  </article>

</div>