---
layout: default
---
<header class="publications-title">
  <h1>{{ page.title | remove: "MARC STREIT | " }}</h1>
</header>

<article class="publications-content">

  <h1 id="books">Book Chapters</h1>

  <div class="paper-list-block">
    <table>

    {% for publication in site.data.books reversed %}
    <tr>
        <td style="padding-top:0px">



      <a href="{{ publication.publisher }}"><img class="cover-image-small" src="{{ site.baseurl }}{{ publication.image }}"></a>

      <p>
        {% for author in publication.authors %}

        {% assign known = false %}
        {% for person in site.persons %}
        {% if author == person.key %}
      <span class="paper-author">
        {% if person.website %}
        <a href="{{ person.website }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>{% if author != publication.authors.last %}, {% endif %}
        {% else %}
        {{ person.first_name }}&nbsp;{{ person.last_name }}{% if author != publication.authors.last %}, {% endif %}
        {% endif %}
      </span>
        {% assign known = true %}
        {% endif %}
        {% endfor %}

        {% if known == false %}
      <span class="paper-author">
        {{ author }}{% if author != publication.authors.last %}, {% endif %}
      </span>
        {% endif %}

        {% endfor %}
        <br/>
        {% for editor in publication.editors %}

        {% assign known = false %}
        {% for person in site.persons %}
        {% if editor == person.key %}
      <span class="paper-author">
        {% if person.website %}
        <a href="{{ person.website }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>{% if editor != publication.editors.last %}, {% endif %}
        {% else %}
        {{ person.first_name }}&nbsp;{{ person.last_name }}{% if editor != publication.editors.last %}, {% endif %}
        {% endif %}
      </span>
        {% assign known = true %}
        {% endif %}
        {% endfor %}

        {% if known == false %}
      <span class="paper-author">
        {{ editor }}{% if editor != publication.editors.last %}, {% endif %}
      </span>
        {% endif %}

        {% endfor %}
        <br>
        <b>{{ publication.title }}</b><br/>
        Chapter: <b>{{ publication.chapter }}</b><br/>
        {{ publication.journal }}, {{publication.year}}{% if publication.to_appear %} (to appear){%endif%}.
      </p>

      <p class="paper-link">
        <span style="float: left;">
          <i class="fa fa-external-link"></i>&nbsp;
          {% if publication.doi %}
            <a href="http://dx.doi.org/{{ publication.doi }}">Publisher</a>&nbsp;
          {% else %}
            <a href="{{ publication.publisher }}">Publisher</a>&nbsp;
          {% endif %}

          {% if publication.pdf %}
            <i class="fa fa-file-pdf-o"></i>&nbsp; <a href="{{ publication.pdf }}">PDF</a>
          {% endif %}
          &nbsp;
        </span>
      </p>

        </td>
      </tr>
    {% endfor %}

    </table>
  </div> 
 
  <br> 

  <h1 id="commentaries">Commentaries</h1>

  <div class="paper-list-block">
    <table>
      <tr>
    {% for publication in site.data.commentaries reversed %}

        <td style="padding-top:0px">



      <a href="http://dx.doi.org/{{ publication.doi }}"><img alt="{{ publication.shortname }} screenshot"
                                                              class="cover-image-small"
                                                              src="{{ site.baseurl }}{{ publication.image }}"></a>

      <p>
        {% for author in publication.authors %}

        {% assign known = false %}
        {% for person in site.persons %}
        {% if author == person.key %}
      <span class="paper-author">
        {% if person.website %}
        <a href="{{ person.website }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>{% if author != publication.authors.last %}, {% endif %}
        {% else %}
        {{ person.first_name }}&nbsp;{{ person.last_name }}{% if author != publication.authors.last %}, {% endif %}
        {% endif %}
      </span>
        {% assign known = true %}
        {% endif %}
        {% endfor %}

        {% if known == false %}
      <span class="paper-author">
        {{ author }}{% if author != publication.authors.last %}, {% endif %}
      </span>
        {% endif %}

        {% endfor %}
        <br/>
        <b> <a href="http://dx.doi.org/{{ publication.doi }}">{{ publication.title }}</a></b><br/>
        {{ publication.journal }}, {{publication.year}}{% if publication.to_appear %} (to appear){%endif%}.
      </p>

      <p class="paper-link">
        <span style="float: left;">
          <i class="fa fa-external-link"></i>&nbsp;
          {% if publication.doi %}
            <a href="http://dx.doi.org/{{ publication.doi }}">Publisher</a>&nbsp;
          {% else %}
            <a href="{{ publication.publisher }}">Publisher</a>&nbsp;
          {% endif %}

          {% if publication.pdf %}
            <i class="fa fa-file-pdf-o"></i>&nbsp; <a href="{{ publication.pdf }}">PDF</a>
          {% endif %}
          &nbsp;
        </span>
      </p>

        </td>
    {% endfor %}

      </tr>
    </table>
  </div> 
 
  <br> 

  <h1 id="preprint">Preprint</h1>

  {% for publication in site.publications reversed %}
    {% if publication.personal %}
    {% elsif publication.type == "preprint" %}
      {% include publication_list_entry.html %}
    {% endif %}
  {% endfor %}

  <br>
  
  <h1 id="journal-papers">Peer-Reviewed Journal and Conference Papers</h1>

  {% for publication in site.publications reversed %}
    {% if publication.personal %}
    {% elsif publication.type == "paper" %}
      {% include publication_list_entry.html %}
    {% endif %}
  {% endfor %}

  <br>

  <h1 id="editorials">Editorials</h1>

  <div class="paper-list-block">

    <table>
      {% for publication in site.data.editorials reversed %}
      <tr>

      <td style="padding-top:0px">


      {% if publication.image %}
      <a href="{{ publication.publisher }}"><img alt="{{ publication.shortname }} screenshot"
                                                  class="cover-image-small"
                                                  src="{{ site.baseurl }}{{ publication.image }}"></a>
      {% endif %}

      <p>
        {% for author in publication.authors %}

        {% assign known = false %}
        {% for person in site.persons %}
        {% if author == person.key %}
      <span class="paper-author">
    {% if person.website %}
        <a href="{{ person.website }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>{% if author != publication.authors.last %}, {% endif %}
        {% else %}
        {{ person.first_name }}&nbsp;{{ person.last_name }}{% if author != publication.authors.last %}, {% endif %}
        {% endif %}
      </span>
        {% assign known = true %}
        {% endif %}
        {% endfor %}

        {% if known == false %}
      <span class="paper-author">
        {{ author }}{% if author != publication.authors.last %}, {% endif %}
      </span>
        {% endif %}

        {% endfor %}
        <br/>
        <b> <a href="{{ publication.publisher }}">{{ publication.title }}</a></b><br/>
        {{ publication.journal }}, {{publication.year}}{% if publication.to_appear %} (to appear){%endif%}.

        <br/>
      </p>

      <p class="paper-link">
        <span style="float: left;">
          <i class="fa fa-external-link"></i>&nbsp;
          {% if publication.doi %}
            <a href="http://dx.doi.org/{{ publication.doi }}">Publisher</a>&nbsp;
          {% else %}
            <a href="{{ publication.publisher }}">Publisher</a>&nbsp;
          {% endif %}

          {% if publication.pdf %}
            <i class="fa fa-file-pdf-o"></i>&nbsp; <a href="{{ publication.pdf }}">PDF</a>
          {% endif %}
        </span>
      </p>

      </td>
    </tr>
    {% endfor %}

    </table>
  </div>

  <br>
  
  <h1 id="theses">Theses</h1>

  {% for thesis in site.data.theses %}

  <p class="poster-item">{{thesis.type}}<br/>
    {% if thesis.pdf %}
    <b><a href="{{ site.paper_content_url }}{{ thesis.pdf }}">{{ thesis.title }}</a></b><br/>
    {% else %}
    <b>{{ thesis.title }}</b><br/>
    {% endif %}
    {{ thesis.institution }}, {{thesis.date}}<br/>
    {% if thesis.supervision %}
      Supervision: <i>{{ thesis.supervision }}</i>
    {% endif %}  
  </p>

  {% endfor %}

  <br>
  
  <h1 id="posters">Extended Abstracts, Technical Reports and Posters</h1>

  {% for publication in site.data.posters %}

  <p class="poster-item">
    {% for author in publication.authors %}

    {% assign known = false %}
    {% for person in site.persons %}
    {% if author == person.key %}
          <span class="paper-author">
            {% if person.website %}
            <a href="{{ person.website }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>{% if author != publication.authors.last %}, {% endif %}
            {% else %}
            {{ person.first_name }}&nbsp;{{ person.last_name }}{% if author != publication.authors.last %}, {% endif %}
            {% endif %}
          </span>
    {% assign known = true %}
    {% endif %}
    {% endfor %}

    {% if known == false %}
          <span class="paper-author">
            {{ author }}{% if author != publication.authors.last %}, {% endif %}
          </span>
    {% endif %}

    {% endfor %}
    <br/>

    <b>{{ publication.title }}</b><br/>
    {{ publication.journal }}, {{publication.year}}{% if publication.to_appear %} (to appear){%endif%}.

    {% if publication.abstract-pdf or publication.poster-pdf or publication.paper-pdf %}
  <p class="poster-link">

        <span style="float: left;">
          {% if publication.paper-pdf %}
            <i class="fa fa-file-pdf-o"></i>&nbsp; <a href="{{site.paper_content_url}}{{ publication.paper-pdf }}">Paper</a>
          &nbsp;
          {% endif %}

          {% if publication.abstract-pdf %}
            <i class="fa fa-file-pdf-o"></i>&nbsp; <a href="{{site.poster_content_url}}{{ publication.abstract-pdf }}">Abstract</a>
          &nbsp;
          {% endif %}

          {% if publication.poster-pdf %}
            <i class="fa fa-file-pdf-o"></i>&nbsp; <a href="{{site.poster_content_url}}{{ publication.poster-pdf }}">Poster</a>
          &nbsp;
          {% endif %}

          {% if publication.video %}
            <i class="fa fa-file-video-o"></i>&nbsp; <a href="{{ publication.video }}">Video</a>
          &nbsp;
          {% endif %}

        </span>

    {% if publication.award %}
    <span class="award">
      {{publication.award}}&nbsp;<i class="fa fa-trophy"></i>
    </span>
    {% endif %}

  </p>
  {% endif %}
  <br/>

  {% endfor %}


</article>
