---
layout: default
---
<header class="publications-title">
  <h1>{{ page.title | remove: "MARC STREIT | " }}</h1>
</header>

<article class="publications-content">

<table>
  <tr>
    <td>

      <h1>Editorials</h1>

      {% for publication in site.data.editorials reversed %}

      <div class="paper-list-block">

        <a href="{{ publication.publisher }}"><img alt="{{ publication.shortname }} screenshot"
                                                               class="cover-image-small"
                                                               src="{{ site.baseurl }}{{ publication.image }}"></a>

        <p>
          {% for author in publication.authors %}

          {% assign known = false %}
          {% for person in site.persons %}
          {% if author == person.key %}
        <span class="paper-author">
          <a href="{{ person.website }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>{% if author != publication.authors.last %}, {% endif %}
        </span>
          {% assign known = true %}
          {% endif %}
          {% endfor %}

          {% if known == false %}
        <span class="paper-author">
          {{ author }}{% if author != publication.authors.last %}, {% endif %}
        </span>
          {% endif %}

          {% endfor %}
          <br/>
          <b> <a href="{{ publication.publisher }}">{{ publication.title }}</a></b><br/>
          {{ publication.journal }}, {{publication.year}}

          <br/>
        </p>

        <p class="paper-link">

      <span style="float: left;">
        <i class="fa fa-external-link"></i>&nbsp;
        {% if publication.doi %}
          <a href="http://dx.doi.org/{{ publication.doi }}">Publisher</a>
        {% else %}
          <a href="{{ publication.publisher }}">Publisher</a>
        {% endif %}
        &nbsp;
      </span>

        </p>

      </div>

      {% endfor %}

    </td>
    <td>
      <h1>Commentaries</h1>

      {% for publication in site.data.commentaries reversed %}

      <div class="paper-list-block">

        <a href="http://dx.doi.org/{{ publication.doi }}"><img alt="{{ publication.shortname }} screenshot"
                                                               class="cover-image-small"
                                                               src="{{ site.baseurl }}{{ publication.image }}"></a>

        <p>
          {% for author in publication.authors %}

          {% assign known = false %}
          {% for person in site.persons %}
          {% if author == person.key %}
        <span class="paper-author">
          <a href="{{ person.website }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>{% if author != publication.authors.last %}, {% endif %}
        </span>
          {% assign known = true %}
          {% endif %}
          {% endfor %}

          {% if known == false %}
        <span class="paper-author">
          {{ author }}{% if author != publication.authors.last %}, {% endif %}
        </span>
          {% endif %}

          {% endfor %}
          <br/>
          <b> <a href="http://dx.doi.org/{{ publication.doi }}">{{ publication.title }}</a></b><br/>
          {{ publication.journal }}, {{publication.year}}
        </p>

        <p class="paper-link">

      <span style="float: left;">
        <i class="fa fa-external-link"></i>&nbsp;
        {% if publication.doi %}
          <a href="http://dx.doi.org/{{ publication.doi }}">Publisher</a>
        {% else %}
          <a href="{{ publication.publisher }}">Publisher</a>
        {% endif %}
        &nbsp;
      </span>

        </p>

      </div>

      {% endfor %}

    </td>
  </tr>
</table>

<h1>Peer-Reviewed Journal and Conference Papers</h1>

{% for publication in site.publications reversed %}

<div class="paper-list-block">


  {% if publication.non-caleydo-paper %}
  <img alt="{{ publication.shortname }} screenshot" class="paper-image-small"  src="{{ site.baseurl }}{{ publication.image }}">
  {% else %}
  <a href="{{ site.baseurl }}{{ publication.url }}"><img alt="{{ publication.shortname }} screenshot"
                                                         class="paper-image-small"
                                                         src="{{ site.baseurl }}{{ publication.image }}"></a>
  {% endif %}


  <p>
    {% for author in publication.authors %}

    {% assign known = false %}
    {% for person in site.persons %}
    {% if author == person.key %}
        <span class="paper-author">
          <a href="{{ person.website }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>{% if author != publication.authors.last %}, {% endif %}
        </span>
    {% assign known = true %}
    {% endif %}
    {% endfor %}

    {% if known == false %}
        <span class="paper-author">        
          {{ author }}{% if author != publication.authors.last %}, {% endif %}
        </span>
    {% endif %}

    {% endfor %}
    <br/>

    {% if publication.non-caleydo-paper %}
    <b>{{ publication.title }}</b><br/>
    {% else %}
    <b><a href="{{ site.caleydo_url }}{{ publication.url }}">{{ publication.title }}</a></b><br/>
    {% endif %}

    {{ publication.journal }}, {{publication.year}}

    <br/>

      <span  class="paper-link">
        {% if publication.non-caleydo-paper != true %}
          <i class="fa fa-home"></i>&nbsp; <a href="{{ site.caleydo_url }}{{ publication.url }}">Paper Website</a>
        &nbsp;
        {% endif %}

        {% if publication.pdf %}
          <i class="fa fa-file-pdf-o"></i>&nbsp; <a href="{{ site.paper_content_url }}{{ publication.pdf }}">PDF</a>
        &nbsp;
        {% endif %}

        {% if publication.doi %}
        <i class="fa fa-external-link"></i>&nbsp;
          <a href="http://dx.doi.org/{{ publication.doi }}">Publisher</a>
        &nbsp;
        {% elsif publication.publisher %}
        <i class="fa fa-external-link"></i>&nbsp;
          <a href="{{ publication.publisher }}">Publisher</a>
        &nbsp;
        {% endif %}

        {% for video in site.videos %}
        {% if video.key == publication.video and video.youtube-id %}
          <i class="fa fa-youtube"></i>&nbsp; <a href="http://www.youtube.com//watch?v={{video.youtube-id}}">YouTube</a>
        &nbsp;
        {% endif %}
        {% endfor %}

        {% for video in site.videos %}
        {% if video.key == publication.video %}
          <i class="fa fa-file-video-o"></i> &nbsp;<a href="{{site.paper_content_url}}{{video.file}}">Video</a>
        &nbsp;
        {% endif %}
        {% endfor %}

        {%if publication.bibtex %}
          <i class="fa fa-download"></i>&nbsp; <a href="{{site.paper_content_url}}{{ publication.bibtex }}">BibTeX</a>
        &nbsp;
        {% endif %}

      </span>
  </p>

  {% if publication.award %}
  <span class="award">
    {{publication.award}}&nbsp;<i class="fa fa-trophy"></i>
  </span>
  <div style="clear: both;"></div>
  {% endif %}

</div>

{% endfor %}

<h1>Theses </h1>

{% for thesis in site.data.theses %}

  <p class="poster-item">{{thesis.type}}<br/>
    {% if thesis.pdf %}
    <b><a href="{{ site.paper_content_url }}{{ thesis.pdf }}">{{ thesis.title }}</a></b><br/>
    {% else %}
    <b>{{ thesis.title }}</b><br/>
    {% endif %}
    {{ thesis.institution }}, {{thesis.date}}<br/>
    Supervision: <i>{{ thesis.supervision }}</i>
  </p>

{% endfor %}

<h1>Extended Abstracts and Posters</h1>

{% for publication in site.data.posters %}

  <p class="poster-item">
    {% for author in publication.authors %}

    {% assign known = false %}
    {% for person in site.persons %}
    {% if author == person.key %}
        <span class="paper-author">
          <a href="{{ person.website }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>{% if author != publication.authors.last %}, {% endif %}
        </span>
    {% assign known = true %}
    {% endif %}
    {% endfor %}

    {% if known == false %}
        <span class="paper-author">
          {{ author }}{% if author != publication.authors.last %}, {% endif %}
        </span>
    {% endif %}

    {% endfor %}
    <br/>

    <b>{{ publication.title }}</b><br/>
    {{ publication.journal }}, {{publication.year}}

  {% if publication.abstract-pdf or publication.poster-pdf %}
  <p class="poster-link">

      <span style="float: left;">
        {% if publication.abstract-pdf %}
          <i class="fa fa-file-pdf-o"></i>&nbsp; <a href="{{site.poster_content_url}}{{ publication.abstract-pdf }}">Abstract</a>
        &nbsp;
        {% endif %}

        {% if publication.poster-pdf %}
          <i class="fa fa-file-pdf-o"></i>&nbsp; <a href="{{site.poster_content_url}}{{ publication.poster-pdf }}">Poster</a>
        &nbsp;
        {% endif %}

      </span>
  </p>
  {% endif %}
  <br/>

{% endfor %}


</article>