table {
  border-collapse: collapse;
  margin: ($base-line-height / 2) 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: bold;
  padding: ($base-line-height / 2) 0;
  text-align: left;
}

td {
  //border-bottom: 1px solid $base-border-color;
  padding: ($base-line-height / 2) 0;
}

tr, td, th {
  vertical-align: top;
}

@mixin th-width($col, $width) {
  #{$col} {
    width: $width;
  }
}

@mixin table-columns($widths...) {

  th, td {
  //  overflow: hidden;
  //  text-overflow: ellipsis;
  //  white-space: nowrap;
    border-bottom: 0px;
    padding: 2px;
  }

  $n: 1;
  $var: "th:nth-child(" + $n + ")";
  @each $width in $widths {
    @include th-width($var, $width);
    $n: $n + 1;
    $var: "th:nth-child(" + $n + ")";
  }
}

.talks-table {
  @include table-columns(10%, 70%, 20%);

  th, td {
    vertical-align: top;
  }
}

.awards-table {
  @include table-columns(12%, 88%);

  td.awards-date {
    text-align: right;
    padding-right: 15px;
  }
}

.functions-table {
  @include table-columns(12%, 88%);

  td.functions-date {
    text-align: right;
    padding-right: 15px;
  }
}

.memberships-table {
  @include table-columns(100%);
}

.students-table {
  @include table-columns(13%, 12%, 12%, 63%);

  td.students-date {
    text-align: right;
    padding-right: 15px;
  }
}

.courses-table {
  @include table-columns(13%, 35%, 52%);

  td.courses-date {
    text-align: right;
    padding-right: 15px;
  }
}

.posts-table {
  @include table-columns(10%, 90%);

  td {
    line-height: $base-font-size * 1.2;
    vertical-align: top;
    color: $home-color;
    font-family: $sans-serif-font-family;
    font-weight: 700;
    font-size: $base-font-size * 0.9;
    font-style: normal;
    min-height: 2.5em;

    a {
      font-weight: 700;
      color: darken( $home-color, 20% );
    }
    a:after{
      border-bottom-width: 0;
    }
  }


  td.post-date {
    text-align: left;
    padding-right: 6px;
  }
}